<div class="login-container">
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div *ngIf="error" class="errorMessage">
    {{ error }}
  </div>
  <form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="error">
        <small *ngIf="f['email'].errors?.required">Email jest wymagany.</small>
        <small *ngIf="f['email'].errors?.email">Niepoprawny email.</small>
      </div>
    </div>

    <div>
      <label for="password">Hasło:</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      <div *ngIf="submitted && f['password'].errors" class="error">
        <small *ngIf="f['password'].errors?.required"
          >Hasło jest wymagane.</small
        >
        <small *ngIf="f['password'].errors?.minLength">
          Hasło musi mieć co najmniej 6 znaków.
        </small>
      </div>
    </div>

    <button type="submit">
      {{ isLoginMode ? " Zaloguj się" : "Zarejestruj się" }}
    </button>
  </form>
  <p>Nie masz Konta ?</p>
  <button type="button" (click)="changeMode()">Zarejestruj się</button>
  <br />
  <small>Przejdz do logowania </small>
  <span style="cursor: pointer; border: 1px solid white; border-radius: 5px"
    >Zaloguj się</span
  >
</div>
